<html>
    <head>
        <title>Matkajoogaa</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Matkajoogaa</a></h1>
        </div>

        <div>
            <p>published: 07.10.2017, 15:10</p>
            <h2><a href="">Haarlem, Alankomaat</a></h2>
            <p>Lyhyen junamatkan päässä Amsterdamista sijaitseva Haarlem tarjoaa idyllistä pikkukaupungin rauhaa
              ja mahdollisuuksia myös joogaharrastajille. Haarlemista on myös lyhyt matka dyyneille meren rantaan.</p>
        </div>

        <div>
            <p>published: 07.10.2017, 15:10</p>
            <h2><a href="">Uppsala, Ruotsi</a></h2>
            <p>Uppsalan yliopistokaupungissa on monia joogasaleja, joista yksi on Winwin Yoga.</p>
        </div>
    </body>
</html>
